.relative {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieDetails {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 32px;
  margin-left: 220px;
}
.youtubeClass {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtubeClass iframe {
  border-radius: 16px;
  border: 0;
}
.youtubeClass iframe button {
  display: none !important;
}
.mainFlex {
  display: flex;
  gap: 32px;
}
.movieMain {
  display: flex;
  gap: 64px;
}
.movieDetailsLeft {
  width: 70%;
}
.movieDetailsRight {
  width: 30%;
}
.movieInfo {
  display: flex;
  align-items: center;
  gap: 24px;
}
.movieTrailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.movieTrailer svg {
  font-size: 100px;
  color: var(--white);
  background: rgba(232, 232, 232, 0.35);
  border-radius: 100%;
  padding: 20px;
  cursor: pointer;
}
.movieTrailer span {
  color: var(--white);
  font-family: var(--text-info-fm);
  font-size: var(--text-2xl);
  line-height: var(--line-2xl);
  cursor: pointer;
}
.movieInfo p {
  font-size: var(--text-base);
  line-height: var(--line-base);
  font-family: var(--text-info-fm);
}
.movieInfo p:nth-child(8),
.movieInfo p:nth-child(9) {
  color: var(--text-red);
  font-size: var(--text-xs);
  font-weight: 500;
  border: 1px solid var(--border-gray);
  padding: 0 12px;
  border-radius: 12px;
}
.movieOverview {
  padding-top: 32px;
}
.movieOverview p {
  font-size: var(--text-xl);
  line-height: var(--line-xl);
  color: var(--text-dark);
}
.moviePersons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}
.moviePersons p,
.moviePersons a {
  font-size: var(--text-xl);
  line-height: var(--line-xl);
  color: var(--text-red);
}
.moviePersons span {
  color: var(--text-dark);
}
.movieRating {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}
.movieRating a {
  background: var(--text-red);
  color: var(--white);
  font-size: var(--text-xl);
  line-height: var(--line-xl);
  padding: 10px 20px;
  border-radius: 8px;
}
.movieRating select {
  font-size: var(--text-xl);
  line-height: var(--line-xl);
  padding: 10px 20px;
  border-radius: 8px;
}
.leftRating {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.leftRating span {
  color: var(--text-dark);
  font-size: var(--text-xl);
  line-height: var(--line-xl);
}
.leftRating span:nth-child(2) {
  color: var(--darkgray);
  opacity: 0.2;
}
.leftPoster img {
  width: 100%;
}
.leftButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.leftButtons button {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  border-radius: 8px;
}
.leftButtons button:nth-child(1) {
  background: var(--text-red);
  color: var(--white);
}
.leftButtons a:nth-child(2) {
  color: var(--white);
}
.leftButtons button:nth-child(2) {
  background: #f8e7eb;
  color: var(--text-dark);
}
.leftButtons a:nth-child(2) {
  color: var(--dark);
}

@media screen and (max-width: 767px) {
  .movieDetails {
    margin: 0;
    width: 100%;
  }
  .relative {
    width: 100%;
    background-size: contain;
    height: 22vh;
    margin-top: 30px;
  }
  .movieTrailer svg {
    font-size: 50px;
    color: var(--white);
    background: rgba(232, 232, 232, 0.35);
    border-radius: 100%;
    padding: 10px;
  }
  .movieTrailer span {
    font-size: var(--text-sm);
  }
  .movieInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .movieInfo svg {
    display: none;
  }
  .moviePersons {
    gap: 12px;
  }
  .movieRating {
    flex-direction: column;
  }
  .movieMain {
    flex-direction: column-reverse;
  }
  .leftPoster {
    display: flex;
    margin: auto;
  }
  .leftPoster img {
    width: 80%;
    margin: auto;
  }
  .movieDetailsLeft,
  .movieDetailsRight {
    width: 100%;
  }
}
