.flexBox a {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--darkgray);
  font-size: var(--text-lg);
  line-height: var(--line-lg);
  font-weight: bold;
  gap: 12px;
}
.flexBox span:nth-child(2) {
  color: var(--darkgray);
  opacity: .4;
  font-size: var(--text-xs);
  font-weight: var(--fw-600);
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span {
  display: flex;
  align-items: center;
  color: var(--darkgray) !important;
  font-size: var(--text-xs) !important;
  font-weight: var(--fw-300) !important;
  opacity: 1 !important;
}
.rating img {
  margin-right: 12px;
}

