.aside {
  border: 1px solid var(--darkgray);
  border-radius: 0 40px 40px 0;
  width: 14.5%;
  padding-top: 30px;
  padding-bottom: 50px;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.aside img {
  padding: 0 20px;
  width: -webkit-fill-available;
}
.sidebarItems {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* gap: 64px; */
  margin: auto;
  padding-top: 20px;
}
.sidebarItems li {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--gray);
  opacity: 0.6;
  font-weight: 600;
  padding: 30px 50px;
}
.sidebarItems li:nth-child(2) {
  background: #f0c8d2;
  color: var(--text-red);
  opacity: 1;
  border-right: 5px solid var(--text-red);
}
.sidebarPlay {
  background: rgba(248, 231, 235, 0.5);
  padding: 50px 15px 40px;
  border: 1px solid var(--red);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 60px 0 30px;
  padding: 50px 20px 20px;
  margin: 30px 20px 50px;
}
.sidebarPlay span:nth-child(1) {
  font-size: var(--text-sm);
  line-height: var(--line-sm);
  font-family: var(--text-info-fm);
  font-weight: 600;
}
.sidebarPlay span:nth-child(2) {
  font-size: var(--text-xs);
  line-height: var(--line-xs);
  font-family: var(--text-info-fm);
  font-weight: 600;
}
.sidebarPlay a {
  color: var(--text-red);
  font-size: var(--text-xs);
  font-weight: 600;
  background: #f0c8d2;
  width: fit-content;
  margin: auto;
  padding: 5px 15px;
  border-radius: 20px;
}
.Logout button {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: auto;
}
.Logout svg {
  font-size: 22px;
}
.Logout a {
  color: var(--gray);
  opacity: 0.6;
  font-weight: 600;
}

.mobileSidebar {
  display: none;
}

@media screen and (max-width: 767px) {
  .desktopSidebar {
    display: none;
  }
  .mobileSidebar {
    display: block;
  }
  .aside {
    width: 0 !important;
    padding: 20px 0;
    transition: width 0.3s ease-in-out;
    z-index: 1;
  }

  .hamburger {
    display: inline-block;
  }
  .hamburger img {
    width: 170%;
  }

  .open {
    width: 250px !important;
    background: var(--white);
  }
  .aside .mobileSidebar {
    display: none;
  }

  .open .mobileSidebar {
    display: block;
  }
  .sidebarItems {
    padding: 0;
  }
  .sidebarItems li {
    padding: 30px 70px;
  }
}


@media screen and (max-width: 15in) {
  .aside {
    width: 16%; 
  }
  .sidebarItems {
    padding-top: 0;
  }
  .sidebarItems li {
    padding: 20px 50px;
  }
  .sidebarPlay {
    padding: 20px;
    margin: 10px 20px 50px;
  }
}

@media screen and (max-width: 14in) {
  .aside {
    width: 15%; 
  }
}

@media screen and (max-width: 13in) {
  .aside {
    width: 15%;
  }
}
